.env
dev_settings
db.sqlite3
video_tool
audio_tool
venv
celerybeat-schedule
gunicorn*
test*
static
media
# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore Django migrations everywhere
**/migrations/